@model IEnumerable<SmartHouseWebLib.Models.UserLocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.UpdatedUtc)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>        
        <td data-utcdate="@item.UpdatedUtc.ToUniversalTime().ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")">
            
        </td>        
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.Id })            
        </td>
    </tr>
}

</table>

@section Scripts{ 
    
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/locale-date")
        
}